<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brad.curatorsscorepad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuratorsScorepad">
        <activity android:name=".History" />
        <activity android:name=".ShowScores" />
        <activity android:name=".Advanced" />
        <activity android:name=".Objects" />
        <activity android:name=".Wings" />
        <activity android:name=".Contracts" />
        <activity android:name=".Money" />
        <activity android:name=".Players" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>